
.link-btn {
	line-height:120%;padding:4px 10px;overflow:hidden;
	border: 1px solid #d0d0d0;box-shadow: 0 0 8px #d0d0d0;
}
.line {
	height:150%;line-height:150%;padding:4px 0;
}
.n-box {
	display:block;
}
.full-w {
	background-position:center;
}
.time-line {
	height:20px;line-height:20px;padding:4px 0;
	color:#4d4d4d;
}
.bic-ball, .md5-line {
	height:200%;line-height:200%;padding:8px 0;
	color:#ffffff;
	.bic-date, .bic-no {
		font-size:20px;
	}
	.bic-link, .md5-link {
		color:#ffffff;
		font-size:20px;
		text-decoration:none;
		&:hover,&:active {
			text-decoration:underline;
			color:#cecece;
		}
	}
	.md5-link {
		margin-left:10%;
	}
	.bic-item {
		font-size:26px;
		&.bic-red {
			font-weight:bold;
			color:#d90e0e;
		}
	}
}
