.link-btn {
  line-height: 120%;
  padding: 4px 10px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 8px #d0d0d0;
}
.line {
  height: 150%;
  line-height: 150%;
  padding: 4px 0;
}
.n-box {
  display: block;
}
.full-w {
  background-position: center;
}
.time-line {
  height: 20px;
  line-height: 20px;
  padding: 4px 0;
  color: #4d4d4d;
}
.bic-ball,
.md5-line {
  height: 200%;
  line-height: 200%;
  padding: 8px 0;
  color: #ffffff;
}
.bic-ball .bic-date,
.md5-line .bic-date,
.bic-ball .bic-no,
.md5-line .bic-no {
  font-size: 20px;
}
.bic-ball .bic-link,
.md5-line .bic-link,
.bic-ball .md5-link,
.md5-line .md5-link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.bic-ball .bic-link:hover,
.md5-line .bic-link:hover,
.bic-ball .md5-link:hover,
.md5-line .md5-link:hover,
.bic-ball .bic-link:active,
.md5-line .bic-link:active,
.bic-ball .md5-link:active,
.md5-line .md5-link:active {
  text-decoration: underline;
  color: #cecece;
}
.bic-ball .md5-link,
.md5-line .md5-link {
  margin-left: 10%;
}
.bic-ball .bic-item,
.md5-line .bic-item {
  font-size: 26px;
}
.bic-ball .bic-item.bic-red,
.md5-line .bic-item.bic-red {
  font-weight: bold;
  color: #d90e0e;
}
