h1.title {
  margin: 20px 0 0 0;
  padding: 10px 15px 10px 0;
  /*border-bottom:1px solid #D0D0D0;*/
  color: #ffffff;
  font-size: 19px;
  font-weight: bold;
}
tr {
  height: 42px;
  line-height: 42px;
}
tr.row-title {
  height: 30px;
  line-height: 30px;
}
tr.row-title th {
  font-size: 16px;
}
tr.row-line {
  height: 30px;
  line-height: 30px;
}
tr.row-line td {
  font-size: 14px;
}
p.time-line {
  padding: 10px 0 0;
  border-top: 1px solid #D0D0D0;
}
.ball span {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  background: red;
  border-radius: 12px;
  text-align: center;
  color: white;
  cursor: pointer;
}
.ball-r span {
  background: #ebb8b8;
  color: #0f2630;
}
.ball-b span {
  background: #5866b8;
}
.box-shadow {
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 8px #d0d0d0;
}
.link-btn {
  line-height: 120%;
  padding: 4px 10px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 8px #d0d0d0;
}
.line {
  height: 150%;
  line-height: 150%;
  padding: 4px 0;
}
#input-page {
  width: 100px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ccc;
  outline: none;
}
#input-size {
  width: 40px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
}
#input-allrb {
  width: 240px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ccc;
  outline: none;
}
.search-btn {
  height: 24px;
  line-height: 24px;
  padding: 0 15px;
  background: #d0d0d0;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
}
.search-btn:hover {
  border: 1px solid #3333aa;
}
.bic-ball {
  height: 200%;
  line-height: 200%;
  padding: 8px 0;
  color: #ffffff;
}
.bic-ball .bic-date,
.bic-ball .bic-no {
  font-size: 20px;
}
.bic-ball .bic-link {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.bic-ball .bic-link:hover,
.bic-ball .bic-link:active {
  text-decoration: underline;
  color: #cecece;
}
.bic-ball .bic-item {
  font-size: 26px;
}
.bic-ball .bic-item.bic-red {
  font-weight: bold;
  color: #d90e0e;
}
